   .header{
     background-image: url("../images/banner.png");
     background-size: contain;
     background-repeat: no-repeat;
     height: 300px;
     background-position: center;
   }
   table,th, td{
    border: 1px solid;
   }
   table {
    width: 100%;
    border-collapse: collapse;
  }

/* .page{
    color: aqua;
}
.title{
    background-color: brown;
    height:300px
    ; */
